.container {
  display: grid;
  grid-template-columns: 0.4fr 0.1fr 2.5fr 0.05fr 0.5fr 0.1fr 0.4fr;
  grid-template-rows: 0.19fr 0.19fr 1.9fr 5fr 1fr 2fr;
  padding: 1rem 0;
}

.profile-section {
  grid-column: 3 / 6;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.share-btn {
  display: block;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px dashed #d0d5dd;
  border-radius: 20px;
  cursor: pointer;
}

.share-btn:hover {
  background-color: #f9fafb;
  color: #667085;
}

.share-btn-mobile {
  display: none;
}

.links-section {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 1.5rem 0 1rem 0;
  width: 100%;
}

.social-section {
  grid-column: 2 / 7;
  grid-row: 5 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-section {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .share-btn {
    visibility: hidden;
    grid-column: 2 / 3;
  }

  .share-btn-mobile {
    display: block;
    grid-column: 6 / 7;
    grid-row: 1 / 3;
    background-color: #ffffff;
    padding: 0.2rem;
    border: 1px dashed #d0d5dd;
    border-radius: 25px;
    cursor: pointer;
  }

  .links-section {
    grid-column: 2 / 7;
  }

  .social-section {
    align-items: flex-start;
  }
}
